<!-- templates/index.html -->

{% extends "base.html" %}
<style>

  #background_color {background-color: grey !important;}


</style>

{% block content %}

<div class="card mb-3">
    <img src="https://d24lqeczfu7s1y.cloudfront.net/venue/murrumbeena-tennis-club/32f00ca8-95b5-40d5-b64d-bcb1f2abb156.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="list-group-item list-group-item-dark" class="card-title">About Us</h5><br>
      <p class="card-text">Murrumbeena is a suburb in Melbourne, Victoria, Australia, 13 km south-east of Melbourne's central business district.[2] Its local government area is the City of Glen Eira. At the 2016 Census, Murrumbeena had a population of 9,926.[3]</p>

        
      <p>Murrumbeena is a small suburban area with extensive parklands and a rich artistic heritage.</p>

        
      <p>It has multiple commercial zones featuring services and thriving cafes, including: Murrumbeena Village, nearby the train station; Poath Road; North Road; and Murrumbeena Road nearby the Beauville Estate and Duncan McKinnon Reserve.</p>

    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">The Tennis Club</h5>
      <p class="card-text">Murrumbeena Tennis Club – 3 en-tout-cas courts. Playing & coaching opportunities for experienced & beginner players. A family-friendly club, all welcome!</p>
    </div>
  </div>

  <ul style="background-color: white;" class="list-unstyled">
    <li class="media">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Upcomming Event</h5>
        Murrumbeena Tennis Club – 3 en-tout-cas courts. Playing & coaching opportunities for experienced & beginner players. A family friendly club, all welcome!

        We welcome the community, including current and new members of the club to come along and join us for social or competition tennis.
      </div>
    </li>
  </ul>
{% endblock %}